@model Capstone.ViewModels.ContactViewModel
@using X.PagedList.Mvc.Core;


<link href="~/dist/css/main.css" rel="stylesheet" />




<div class="row">


    @* tab box start *@

    <div class="tab-box nav-tabs-custom col-md-8" >
        <ul class="nav nav-tabs">
            <li><a href="#tab_1" data-toggle="tab">STORES</a></li>
            <li><a href="#tab_2" data-toggle="tab">PROVIDERS</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="tab_1">

                @* stores box start *@
                <div class="box">

                    @*box body start*@
                    <div class="body">
                        <div id="store_table_wrapper" class="storeData_wrapper form-inline dt-bootstrap">
                            <div class="row">
                                <div class="col-sm-12">
                                    <table id="stores_table" class="table table-bordered table-striped dataTable" role="grid">
                                        <thead>
                                            <tr role="row">
                                                <th>Location</th>
                                                <th>Address</th>
                                                <th>Phone Number</th>

                                            </tr>
                                        </thead>

                                        <tbody>
                                            <tr role="row" class="row_item">
                                                @foreach (var item in Model.Stores)
                                                {

                                                    <td>@item.Name</td>
                                                    <td>@item.Address</td>
                                                    <td>@item.PhoneNumber</td>

                                                }

                                                <td>101</td>
                                                <td>3600 carrollwood cir plc tampa fl, 33612</td>
                                                <td>(813)623-9948</td>




                                            </tr>

                                            <tr>
                                                <td>101</td>
                                                <td>3600 carrollwood cir plc tampa fl, 33612</td>
                                                <td>(813)623-9948</td>
                                            </tr>


                                        </tbody>

                                        @*<tfoot></tfoot>*@
                                    </table>

                                    @if (Model.Providers.Count == 0)
                                    {
                                        <p>Add some <a asp-controller="Contact" asp-action="Add">Stores?</a></p>

                                    }
                                </div>
                            </div>
                            @* pagination section start *@
                            <div class="row">


                                <p>Page @(Model.Stores.PageCount < Model.Stores.PageNumber ? 0 : Model.Stores.PageNumber) of @Model.Stores.PageNumber</p>
                                @Html.PagedListPager(Model.Stores, page => Url.Action("Contact", "Index", new { page }))
                            </div>

                        </div>

                    </div>

                    @*box body end*@


                </div>


                @*stores box end*@


            </div>
            <div class="tab-pane" id="tab_2">

                @* stores box start *@
                <div class="box">

                    @*box body start*@
                    <div class="body">
                        <div id="provider_table_wrapper" class="providerData_wrapper form-inline dt-bootstrap">
                            <div class="row">
                                <div class="col-sm-12">
                                    <table id="provider_table" class="table table-bordered table-striped  dataTable" role="grid">
                                        <thead>
                                            <tr role="row">
                                                <th>Company</th>
                                                <th>Phone Number</th>



                                            </tr>
                                        </thead>

                                        <tbody>
                                            @foreach (Provider item in Model.Providers)
                                            {

                                                <tr role="row" class="row_item">



                                                    <td>@item.Name</td>

                                                    <td>@item.PhoneNumber</td>






                                                </tr>




                                            }


                                        </tbody>

                                        @*<tfoot></tfoot>*@
                                    </table>

                                    @if (Model.Providers.Count == 0)
                                    {
                                        <p>Add some <a asp-controller="Provider" asp-action="Add">Providers?</a></p>

                                    }


                                </div>
                            </div>
                            @* pagination section start *@
                            <div class="row">
                                <p>Page @(Model.Providers.PageCount < Model.Providers.PageNumber ? 0 : Model.Providers.PageNumber) of @Model.Providers.PageNumber</p>
                                @Html.PagedListPager(Model.Providers, page => Url.Action("Contact", "Index", new { page }))


                            </div>

                        </div>

                    </div>

                    @*box body end*@


                </div>


                @*stores box end*@

            </div>

        </div>

    </div>
    @* tab box end *@


</div>


@*

    TODO: look into how to implement search functionality
    TODO:add css styling dont forget to add before and after styling*@  


if ()