@model Capstone.ViewModels.ContactViewModel





<div class="row" style="background:green">
   

    @* tab box start *@

    <div class="tab-box nav-tabs-custom col-md-8" style="width: 75% ;margin:0 0 0 12.5%;">
        <ul class="nav nav-tabs">
            <li><a href="#tab_1" data-toggle="tab">Stores</a></li>
            <li><a href="#tab_2" data-toggle="tab">Providers</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="tab_1">

                @* stores box start *@
                <div class="box">

                    @*box body start*@
                    <div class="body">
                        <div id="store_table_wrapper" class="storeData_wrapper form-inline dt-bootstrap">
                            <div class="row">
                                <div class="col-sm-12">
                                    <table id="stores_table" class="table table-bordered table-striped dataTable" role="grid">
                                        <thead>
                                            <tr role="row">
                                                <th>Location</th>
                                                <th>Address</th>
                                                <th>Phone Number</th>

                                            </tr>
                                        </thead>

                                        <tbody>
                                            <tr role="row" class="row_item">
                                                @*@foreach (Store item in Model.Stores)
                                                  {

                                                        <td>@item.Name</td>
                                                        <td>@item.Address</td>
                                                        <td>@item.PhoneNumber</td>

                                                  }*@

                                                <td>101</td>
                                                <td>3600 carrollwood cir plc tampa fl, 33612</td>
                                                <td>(813)623-9948</td>

                                                


                                            </tr>

                                            <tr>
                                                <td>101</td>
                                                <td>3600 carrollwood cir plc tampa fl, 33612</td>
                                                <td>(813)623-9948</td>
                                            </tr>
                                                

                                        </tbody>

                                        @*<tfoot></tfoot>*@
                                    </table>
                                </div>
                            </div>
                            @* pagination section start *@
                            <div class="row">
                                <div class="col-sm-5">
                                    <div class="dataTable_info" id="storeData_info" role="status"> Showing 1-10 of 50 entries</div>
                                </div>
                                <div class="col-sm-7">
                                    <div class="dataTables_paginate paging_simple_numbers" id="storeData_paginate">
                                        <ul class="pagination">
                                            <li class="paginate_button previous" id="storeData_previous"> <a href="#">Previous</a></li>
                                            <li class=" paginate_button"><a>1</a></li>
                                            <li class=" paginate_button"><a>2</a></li>
                                            <li class=" paginate_button"><a>3</a></li>


                                            <li class="paginate_button next" id="storeData_next"> <a href="#">Next</a></li>
                                        </ul>
                                    </div>


                                </div>
                            </div>

                        </div>

                    </div>

                    @*box body end*@


                </div>


                @*stores box end*@


            </div>
            <div class="tab-pane" id="tab_2">

                @* stores box start *@
                <div class="box">

                    @*box body start*@
                    <div class="body">
                        <div id="provider_table_wrapper" class="providerData_wrapper form-inline dt-bootstrap">
                            <div class="row">
                                <div class="col-sm-12">
                                    <table id="provider_table" class="table table-bordered table-striped  dataTable" role="grid">
                                        <thead>
                                            <tr role="row">
                                                <th>Company</th>
                                                <th>Phone Number</th>

                                                

                                            </tr>
                                        </thead>

                                        <tbody>
                                            @foreach (Provider item in Model.Providers)
                                            {

                                               <tr role="row" class="row_item">



                                                <td>@item.Name</td>

                                                <td>@item.PhoneNumber</td>
                                                





                                               </tr>
                                                



                                            }


                                        </tbody>

                                        @*<tfoot></tfoot>*@
                                    </table>
                                </div>
                            </div>
                            @* pagination section start *@
                            <div class="row">
                                <div class="col-sm-5">
                                    <div class="dataTable_info" id="providerData_info" role="status"> Showing 1-10 of 50 entries</div>
                                </div>
                                <div class="col-sm-7">
                                    <div class="dataTables_paginate paging_simple_numbers" id="storeData_paginate">
                                        <ul class="pagination">
                                            <li class="paginate_button previous" id="providerData_previous"> <a href="#">Previous</a></li>
                                            <li class=" paginate_button"><a>1</a></li>
                                            <li class=" paginate_button"><a>2</a></li>
                                            <li class=" paginate_button"><a>3</a></li>


                                            <li class="paginate_button next" id="providerData_next"> <a href="#">Next</a></li>
                                        </ul>
                                    </div>


                                </div>
                            </div>

                        </div>

                    </div>

                    @*box body end*@


                </div>


                @*stores box end*@

            </div>

        </div>

    </div>
    @* tab box end *@


</div>

@*
TODO: Find out how to enable pagination
TODO: enable info data for footer section
TODO: look into how to implement search functionality
TODO:add css styling dont forget to add before and after styling*@  