@model Capstone.ViewModels.AddPrefixViewModel;
@using X.PagedList.Mvc.Core;

<div class="container">
    <div class="row ">
        <div class="col-md-11 offset-md-1">
            <div class="box box-solid box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">BCBS Prefix List</h3>
                    <div class="box-tools pull-right">
                        <span><a class="btn-sm btn-primary" asp-controller="Prefix" asp-action="Add">Add Prefix</a></span>

                    </div>
                    <!-- /.box-tools -->
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    @using (Html.BeginForm())
                    {
                        <p>
                            Find by Prefix: @Html.TextBox("SearchString")
                            <input type="submit" value="Search" />
                        </p>
                    }

                    <table class="table">

                        <tr>
                            <th> @Html.ActionLink("Name", "ListPrefixes", new { sortOrder = ViewBag.NameSortParm })</th>
                            <th>@Html.ActionLink("Location", "ListPrefixes", new { sortOrder = ViewBag.ProviderSortParm })</th>
                            <th>Action</th>
                        </tr>

                        @foreach (Prefix prefix in Model.Prefixes)
                        {
                            <tr>
                                <td>@prefix.Name</td>
                                <td>@prefix.Provider.Name</td>
                                <td>
                                    <a class="btn btn-sm btn-primary" asp-action="Delete" asp-route-id="@prefix.PrefixID">Delete</a>
                                   
                                </td>



                            </tr>
                        }
                    </table>
                    <p>@(Model.Prefixes.PageCount < Model.Prefixes.PageNumber ? 0 : Model.Prefixes.PageNumber) of @Model.Prefixes.PageCount</p>

                    @Html.PagedListPager(Model.Prefixes, page => Url.Action("Prefix", "ListPrefixes",
                        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

                    @if (Model.Prefixes.Count == 0)
                    {
                        <p>Add some prefixes</p>

                    }
                </div>
                <!-- /.box-body -->
                <div class="box-footer">



                </div>
            </div>
            <!-- /.box -->

        </div>
    </div>
</div>
